In [73]:
import pandas as pd
import numpy as np

In [74]:
df = pd.read_csv('E0.csv')

In [75]:
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,E0,04/03/2023,15:00,Wolves,Tottenham,1,0,H,0,0,...,1.67,0.25,1.90,2.03,1.90,2.02,1.91,2.08,1.87,1.99
247,E0,04/03/2023,17:30,Southampton,Leicester,1,0,H,1,0,...,1.85,0.00,2.09,1.84,2.12,1.83,2.12,2.06,1.99,1.90
248,E0,05/03/2023,14:00,Nott'm Forest,Everton,2,2,D,1,2,...,1.51,0.00,2.11,1.79,2.13,1.82,2.17,1.85,2.09,1.80
249,E0,05/03/2023,16:30,Liverpool,Man United,7,0,H,1,0,...,2.16,0.00,1.75,2.05,1.77,2.17,1.92,2.20,1.79,2.10
250,E0,06/03/2023,20:00,Brentford,Fulham,3,2,H,1,1,...,1.84,-0.50,2.07,1.86,2.08,1.86,2.08,1.89,2.05,1.84

In [76]:
df = df[['HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A']]

In [77]:
df

           HomeTeam       AwayTeam FTR  B365H  B365D  B365A
0    Crystal Palace        Arsenal   A   4.20    3.6   1.85
1            Fulham      Liverpool   D  11.00    6.0   1.25
2       Bournemouth    Aston Villa   H   3.75    3.5   2.00
3             Leeds         Wolves   H   2.25    3.4   3.20
4         Newcastle  Nott'm Forest   H   1.66    3.8   5.25
..              ...            ...  ..    ...    ...    ...
246          Wolves      Tottenham   H   3.30    3.4   2.20
247     Southampton      Leicester   H   2.75    3.3   2.60
248   Nott'm Forest        Everton   D   2.70    3.0   2.88
249       Liverpool     Man United   H   2.38    3.6   2.88
250       Brentford         Fulham   H   1.95    3.6   3.75

[251 rows x 6 columns]

In [78]:
df['bh'] = df['B365H'].sum()
df['bd'] = df['B365D'].sum()
df['ba'] = df['B365A'].sum()

C:\Users\hask777\AppData\Local\Temp\ipykernel_12316\3953728182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bh'] = df['B365H'].sum()
C:\Users\hask777\AppData\Local\Temp\ipykernel_12316\3953728182.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bd'] = df['B365D'].sum()
C:\Users\hask777\AppData\Local\Temp\ipykernel_12316\3953728182.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ba'] = df['B365A'].sum()

In [79]:
df

,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,bh,bd,ba
0,Crystal Palace,Arsenal,A,4.20,3.6,1.85,716.84,1047.01,1116.89
1,Fulham,Liverpool,D,11.00,6.0,1.25,716.84,1047.01,1116.89
2,Bournemouth,Aston Villa,H,3.75,3.5,2.00,716.84,1047.01,1116.89
3,Leeds,Wolves,H,2.25,3.4,3.20,716.84,1047.01,1116.89
4,Newcastle,Nott'm Forest,H,1.66,3.8,5.25,716.84,1047.01,1116.89
...,...,...,...,...,...,...,...,...,...
246,Wolves,Tottenham,H,3.30,3.4,2.20,716.84,1047.01,1116.89
247,Southampton,Leicester,H,2.75,3.3,2.60,716.84,1047.01,1116.89
248,Nott'm Forest,Everton,D,2.70,3.0,2.88,716.84,1047.01,1116.89
249,Liverpool,Man United,H,2.38,3.6,2.88,716.84,1047.01,1116.89
250,Brentford,Fulham,H,1.95,3.6,3.75,716.84,1047.01,1116.89

In [80]:
df.query("FTR=='H'")["B365H"]

2      3.75
3      2.25
4      1.66
5      1.33
10     1.80
       ...
245    1.62
246    3.30
247    2.75
249    2.38
250    1.95
Name: B365H, Length: 120, dtype: float64

In [81]:
new = df.loc[df['FTR'] == 'H']

In [82]:
new

,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,bh,bd,ba
2,Bournemouth,Aston Villa,H,3.75,3.5,2.00,716.84,1047.01,1116.89
3,Leeds,Wolves,H,2.25,3.4,3.20,716.84,1047.01,1116.89
4,Newcastle,Nott'm Forest,H,1.66,3.8,5.25,716.84,1047.01,1116.89
5,Tottenham,Southampton,H,1.33,5.5,8.50,716.84,1047.01,1116.89
10,Aston Villa,Everton,H,1.80,3.5,4.75,716.84,1047.01,1116.89
...,...,...,...,...,...,...,...,...,...
245,Chelsea,Leeds,H,1.62,4.0,5.50,716.84,1047.01,1116.89
246,Wolves,Tottenham,H,3.30,3.4,2.20,716.84,1047.01,1116.89
247,Southampton,Leicester,H,2.75,3.3,2.60,716.84,1047.01,1116.89
249,Liverpool,Man United,H,2.38,3.6,2.88,716.84,1047.01,1116.89
250,Brentford,Fulham,H,1.95,3.6,3.75,716.84,1047.01,1116.89

In [83]:
len(new)

120

In [84]:
# new.B365H.unique()
new = new.loc[(new['B365H'] > 2) & (new['FTR'] == "H")]

In [85]:
new

,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,bh,bd,ba
2,Bournemouth,Aston Villa,H,3.75,3.50,2.00,716.84,1047.01,1116.89
3,Leeds,Wolves,H,2.25,3.40,3.20,716.84,1047.01,1116.89
16,Brentford,Man United,H,3.75,3.50,2.00,716.84,1047.01,1116.89
17,Nott'm Forest,West Ham,H,4.20,3.60,1.85,716.84,1047.01,1116.89
21,Crystal Palace,Aston Villa,H,2.50,3.25,2.90,716.84,1047.01,1116.89
23,Fulham,Brentford,H,2.45,3.40,2.90,716.84,1047.01,1116.89
26,Leeds,Chelsea,H,5.75,4.50,1.53,716.84,1047.01,1116.89
29,Man United,Liverpool,H,5.25,4.33,1.60,716.84,1047.01,1116.89
41,Fulham,Brighton,H,3.10,3.30,2.30,716.84,1047.01,1116.89
42,Southampton,Chelsea,H,5.25,4.00,1.61,716.84,1047.01,1116.89
51,Brentford,Leeds,H,2.10,3.50,3.40,716.84,1047.01,1116.89
56,Wolves,Southampton,H,2.20,3.40,3.25,716.84,1047.01,1116.89
59,Man United,Arsenal,H,2.50,3.50,2.70,716.84,1047.01,1116.89
60,Aston Villa,Southampton,H,2.10,3.50,3.50,716.84,1047.01,1116.89
66,Everton,West Ham,H,2.90,3.25,2.50,716.84,1047.01,1116.89
67,Arsenal,Tottenham,H,2.05,3.75,3.30,716.84,1047.01,1116.89
77,Bournemouth,Leicester,H,3.60,3.40,2.05,716.84,1047.01,1116.89
82,Crystal Palace,Leeds,H,2.05,3.50,3.60,716.84,1047.01,1116.89
84,Arsenal,Liverpool,H,2.50,3.60,2.62,716.84,1047.01,1116.89
87,Brentford,Brighton,H,3.10,3.40,2.30,716.84,1047.01,1116.89
96,Liverpool,Man City,H,3.60,4.00,1.90,716.84,1047.01,1116.89
98,Crystal Palace,Wolves,H,2.25,3.10,3.40,716.84,1047.01,1116.89
103,Man United,Tottenham,H,2.45,3.50,2.75,716.84,1047.01,1116.89
104,Fulham,Aston Villa,H,2.90,3.30,2.50,716.84,1047.01,1116.89
105,Leicester,Leeds,H,2.25,3.60,3.00,716.84,1047.01,1116.89
106,Nott'm Forest,Liverpool,H,11.00,6.00,1.25,716.84,1047.01,1116.89
107,Everton,Crystal Palace,H,2.60,3.20,2.87,716.84,1047.01,1116.89
110,Aston Villa,Brentford,H,2.10,3.50,3.50,716.84,1047.01,1116.89
119,Brighton,Chelsea,H,3.00,3.30,2.40,716.84,1047.01,1116.89
132,Aston Villa,Man United,H,3.30,3.80,2.10,716.84,1047.01,1116.89
137,Bournemouth,Everton,H,2.80,3.25,2.60,716.84,1047.01,1116.89
139,Nott'm Forest,Crystal Palace,H,3.10,3.10,2.45,716.84,1047.01,1116.89
142,Newcastle,Chelsea,H,2.35,3.40,3.00,716.84,1047.01,1116.89
166,Brentford,Liverpool,H,5.50,4.33,1.55,716.84,1047.01,1116.89
176,Fulham,Chelsea,H,3.30,3.50,2.15,716.84,1047.01,1116.89
178,Man United,Man City,H,4.20,3.60,1.85,716.84,1047.01,1116.89
179,Brighton,Liverpool,H,3.40,3.60,2.10,716.84,1047.01,1116.89
181,Nott'm Forest,Leicester,H,2.70,3.30,2.63,716.84,1047.01,1116.89
182,Wolves,West Ham,H,2.63,3.30,2.70,716.84,1047.01,1116.89
200,Everton,Arsenal,H,8.50,4.50,1.40,716.84,1047.01,1116.89
205,Wolves,Liverpool,H,4.00,3.80,1.85,716.84,1047.01,1116.89
207,Nott'm Forest,Leeds,H,2.63,3.30,2.70,716.84,1047.01,1116.89
208,Tottenham,Man City,H,4.33,4.20,1.73,716.84,1047.01,1116.89
214,Leicester,Tottenham,H,3.40,3.60,2.10,716.84,1047.01,1116.89
225,Everton,Leeds,H,2.40,3.30,3.00,716.84,1047.01,1116.89
238,Tottenham,Chelsea,H,2.55,3.25,2.90,716.84,1047.01,1116.89
243,Aston Villa,Crystal Palace,H,2.05,3.30,3.80,716.84,1047.01,1116.89
246,Wolves,Tottenham,H,3.30,3.40,2.20,716.84,1047.01,1116.89
247,Southampton,Leicester,H,2.75,3.30,2.60,716.84,1047.01,1116.89
249,Liverpool,Man United,H,2.38,3.60,2.88,716.84,1047.01,1116.89

In [86]:
len(new)

50

In [105]:
df['New'] = df.apply(lambda x: x['B365H'] if x['B365H'] <= x['B365A'] else 'underdog', axis=1)

C:\Users\hask777\AppData\Local\Temp\ipykernel_12316\1489576516.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['New'] = df.apply(lambda x: x['B365H'] if x['B365H'] <= x['B365A'] else 'underdog', axis=1)

In [106]:
df

,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,bh,bd,ba,New
0,Crystal Palace,Arsenal,A,4.20,3.6,1.85,716.84,1047.01,1116.89,underdog
1,Fulham,Liverpool,D,11.00,6.0,1.25,716.84,1047.01,1116.89,underdog
2,Bournemouth,Aston Villa,H,3.75,3.5,2.00,716.84,1047.01,1116.89,underdog
3,Leeds,Wolves,H,2.25,3.4,3.20,716.84,1047.01,1116.89,2.25
4,Newcastle,Nott'm Forest,H,1.66,3.8,5.25,716.84,1047.01,1116.89,1.66
...,...,...,...,...,...,...,...,...,...,...
246,Wolves,Tottenham,H,3.30,3.4,2.20,716.84,1047.01,1116.89,underdog
247,Southampton,Leicester,H,2.75,3.3,2.60,716.84,1047.01,1116.89,underdog
248,Nott'm Forest,Everton,D,2.70,3.0,2.88,716.84,1047.01,1116.89,2.7
249,Liverpool,Man United,H,2.38,3.6,2.88,716.84,1047.01,1116.89,2.38
250,Brentford,Fulham,H,1.95,3.6,3.75,716.84,1047.01,1116.89,1.95

In [111]:
under = df['New'] == 'underdog'

In [113]:
under

0       True
1       True
2       True
3      False
4      False
       ...
246     True
247     True
248    False
249    False
250    False
Name: New, Length: 251, dtype: bool

In [116]:
un = []

for u in under:
    if u == True:
        print(u)
        un.append(u)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [117]:
len(un)

92

In [95]:
low = df.loc[(df['B365H'] < 2) & (df['FTR'] == "H")]

In [66]:
low

,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,bh,bd,ba
4,Newcastle,Nott'm Forest,H,1.66,3.80,5.25,716.84,1047.01,1116.89
5,Tottenham,Southampton,H,1.33,5.50,8.50,716.84,1047.01,1116.89
10,Aston Villa,Everton,H,1.80,3.50,4.75,716.84,1047.01,1116.89
11,Arsenal,Leicester,H,1.53,4.33,5.75,716.84,1047.01,1116.89
13,Man City,Bournemouth,H,1.06,13.00,29.00,716.84,1047.01,1116.89
...,...,...,...,...,...,...,...,...,...
241,Man City,Newcastle,H,1.45,4.50,7.00,716.84,1047.01,1116.89
242,Arsenal,Bournemouth,H,1.22,7.00,12.00,716.84,1047.01,1116.89
244,Brighton,West Ham,H,1.80,3.60,4.50,716.84,1047.01,1116.89
245,Chelsea,Leeds,H,1.62,4.00,5.50,716.84,1047.01,1116.89
250,Brentford,Fulham,H,1.95,3.60,3.75,716.84,1047.01,1116.89